@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Lato", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* home page banner css */
/* Banner Container */
.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Banner Image */
.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Banner Text */
.banner-text {
  position: absolute;
  top: 15%;
  left: 8%;
  width: 55%;
  /* transform: translate(-50%, -50%); */
  color: white;
  /* text-align: center; */
  /* padding: 0 20px; */
}

/* Responsive Typography */
.banner-text div {
  font-size: clamp(10px, 4.5vw, 4.5rem);
  /* margin: 0; */
  line-height: 1;
  font-weight: 700;
}

.banner-text p {
  font-size: 1.2rem;
}

.banner_btn {
  background: #212121;
  /* display: inline-block; */
  padding: 20px, 24px, 20px, 24px;
  height: clamp(2rem, 3.75vw, 4.5rem);
  width: 20%;
  font-size: clamp(0.5rem, 1.5vw, 1.3rem);
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .banner_btn {
    width: 35%;
    margin-top: 15px;
  }
  .banner_description {
    display: none;
  }
  /* .banner-text div {
    font-size: 2rem;
  } */

  .banner-text p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  /* .banner-text div {
    font-size: 1.5rem;
  } */

  .banner-text p {
    font-size: 0.7rem;
  }
}
