/* Add this CSS to your styles */
.slick-dots {
  position: absolute;
  bottom: 40px; /* Adjust this value to control the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex !important;
  justify-content: center;
  width: 100%;
}

.slick-dots li button:before {
  font-size: 10px; /* Adjust the dot size */
  color: #fff; /* Dot color */
}

.slick-dots li.slick-active button:before {
  color: #13b7ba; /* Active dot color */
}
